{% extends 'news/default.html' %}

{% block title %}
<h1>News</h1>
{% endblock %}

{% block content %}
    <div class="alert alert-warning mt-2">
      <h1>Список новостей</h1>
      <ul>
        {% for news_item in news %}
        <li>
          <a href="{% url 'news_detail' news_item.id %}">{{ news_item.title }}</a>
          ({{ news_item.pub_date|date:"d.m.Y" }}): {{ news_item.text|slice:":20" }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <!--{# Добавляем форму, которая объединяет набор полей,-->
    <!--которые будут отправляться в запросе #}-->
    <form action="" method="get">
    <!--{# Переменная, которую мы передали через контекст,-->
    <!--может сгенерировать нам форму с полями #}-->
        {{ filterset.form.as_p }}
    <!--{# Добавим кнопку отправки данных формы #}-->
        <label>Start date:</label>
        <input id="date" type="date" value="2017-06-01" />

        <br>
        <br>

        <input type="submit" value="Поиск"/>
    </form>
<br>

    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock %}